@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
html, body {
  overflow-x: hidden;
}

body {
  position: relative;
  font-family: "Lato", sans-serif;
  overflow: hidden;
}

.container-fluid {
  padding: 0 7vw;
}

.hero-image-container {
  position: relative;
}
.hero-image-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.hero-image-container .hero-text {
  position: absolute;
  top: 10%;
  right: 4%;
  width: 35%;
}
.hero-image-container .hero-text h1, .hero-image-container .hero-text h2 {
  text-align: end;
  color: white;
}
.hero-image-container .hero-text h1 {
  font-size: clamp(2em, 3vw, 3vw);
}

.navbar-brand img {
  width: 250px;
}

.home-gallery-container .grid-col {
  max-height: 100vh;
}
.home-gallery-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-gallery-container .grid-section {
  height: 50vh;
  transition: all 0.5s;
}
.home-gallery-container .grid-section:hover {
  cursor: pointer;
  opacity: 0.9;
}
.home-gallery-container .grid-section-tall {
  transition: all 0.5s;
}
.home-gallery-container .grid-section-tall:hover {
  opacity: 0.9;
  cursor: pointer;
}
.home-gallery-container .grid-text-container {
  position: relative;
}
.home-gallery-container .grid-text-container .grid-text {
  position: absolute;
  bottom: 2%;
  left: 3%;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  text-shadow: 2px 2px 5px rgb(29, 29, 29);
}
.home-gallery-container .grid-text-container-tall {
  position: relative;
}
.home-gallery-container .grid-text-container-tall .grid-text {
  position: absolute;
  bottom: 1%;
  left: 3%;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  text-shadow: 2px 2px 5px rgb(29, 29, 29);
}

.info-container .info-wrapper {
  position: relative;
}
.info-container .info-wrapper .info-text-div {
  width: 40%;
  position: absolute;
  top: 15%;
  left: 0;
  padding: 0 0.75rem;
  text-align: center;
}
.info-container .info-wrapper .info-text-div h1 {
  text-align: center;
  font-weight: 500;
}
.info-container .info-wrapper .info-text-div .btn {
  margin: 3vw;
}

.info-text {
  font-size: 2vw;
}

.btn.btn-primary {
  background-color: white;
  color: black;
  border: 1px solid rgb(231, 222, 219);
  border-radius: 0px;
  max-width: 300px;
  margin: 3rem;
}
.btn.btn-primary:hover {
  background-color: rgb(39, 41, 41);
  color: white;
  border: 1px solid rgb(39, 41, 41);
}

.nav-drawer {
  list-style: none;
  padding: 0;
}
.nav-drawer li {
  font-size: 2rem;
}
.nav-drawer li:hover {
  color: rgb(159, 162, 163);
  cursor: pointer;
}

.hamburger-menu:hover {
  cursor: pointer;
  color: rgb(159, 162, 163);
}

.image-wrapper {
  padding: 12px 12px;
}
.image-wrapper img {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
.image-wrapper img:hover {
  cursor: pointer;
  opacity: 0.8;
}

.modal-content {
  border-radius: 0px;
  border: none;
}

.btn-close:active, .btn-close:focus {
  box-shadow: none;
}

.about-section {
  margin: 15vh 0;
}
.about-section-image {
  margin: auto;
}
.about-section-imgBG {
  position: relative;
}
.about-section-imgBG-text-container {
  position: absolute;
  width: 50%;
  text-align: center;
  top: 10%;
  left: 10%;
}

.about-text {
  padding: 12vh 5vw;
  text-align: center;
}
.about-text p {
  font-size: 1.5rem;
}

.about-hero-wrapper h1 {
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.info-card-row {
  margin: 12vh 0;
}

.contact-wrapper {
  margin: 4vh 10vw;
}

.info-card-text-container p {
  font-size: 1.5rem;
}

.info-card-image-container {
  display: flex;
  align-items: center;
}

.services-hero-wrapper img {
  width: 100%;
}

@media only screen and (max-width: 576px) {
  .hero-image-container img {
    height: 82vh;
  }
  .hero-image-container .hero-text {
    position: absolute;
    top: auto;
    right: auto;
    bottom: 50%;
    transform: translateY(50%);
    width: 100%;
    padding: 2rem;
  }
  .hero-image-container .hero-text h1, .hero-image-container .hero-text h2 {
    text-align: start;
    font-size: 1rem;
    margin: 0 0 0 0;
    text-shadow: 2px 2px 5px black;
    color: whiteblack;
  }
  .hero-image-container .hero-text h1 {
    font-size: 1.8rem;
  }
  .navbar-brand img {
    width: 200px;
  }
  .footer-text {
    font-size: 11px;
  }
  .services-hero-wrapper {
    overflow: hidden;
    height: 80vh;
  }
  .services-hero-wrapper img {
    height: 100%;
    text-align: middle;
    object-fit: cover;
    object-position: 10% 0px;
  }
  .contact-text-container h3 {
    font-size: 1.2rem;
  }
  .contact-text-container p {
    font-size: 0.9rem;
  }
  .contact-image {
    padding: 0;
  }
}
@media only screen and (max-width: 768px) {
  .hero-image-container img {
    height: 82vh;
  }
  .hero-image-container .hero-text {
    position: absolute;
    top: auto;
    right: auto;
    bottom: 50%;
    transform: translateY(50%);
    width: 100%;
    padding: 2rem;
  }
  .hero-image-container .hero-text h1, .hero-image-container .hero-text h2 {
    text-align: center;
    text-shadow: 2px 2px 5px black;
  }
  .info-container .info-wrapper {
    overflow: hidden;
    height: 50vh;
  }
  .info-container .info-wrapper .info-text-div {
    padding: 20px;
    width: 70%;
  }
  .info-container .info-wrapper .info-text-div .info-text {
    font-size: 4vw;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
  }
  .info-container .info-wrapper img {
    height: 100%;
    object-fit: cover;
  }
  .about-hero-wrapper {
    overflow: hidden;
    height: 80vh;
  }
  .about-hero-wrapper img {
    object-fit: cover;
    height: 100%;
  }
  .about-hero-wrapper h1 {
    top: 5%;
    bottom: auto;
    width: 90%;
    padding: 0 1rem;
    font-size: 1rem;
  }
  .about-section {
    margin-top: 2rem;
    padding: 0;
  }
  .about-text {
    padding: 0;
  }
  .about-text h1 {
    font-size: 1.2rem;
    border-bottom: 1px solid rgb(231, 222, 219);
    font-weight: 600;
  }
  .about-text p {
    font-size: 1rem;
  }
  .info-card-row {
    margin: 0;
  }
}
@media only screen and (max-width: 992px) {
  .image-wrapper img {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 1400px) {
  .info-card-text-container {
    padding: 0 !important;
    margin-top: 6vh;
  }
  .info-card-text-container h1 {
    font-size: 1.3rem;
  }
  .info-card-text-container p {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=App.css.map */
