@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$font-xl: 5rem;
$font-lg: 4rem;
$font-md: 1.5rem;
$font-sm: 1rem;
$font-xs: .5rem;

$gray: rgb(231, 222, 219);
$gray-dark: rgb(39, 41, 41);
$gray-md: rgb(159, 162, 163);
$primary: #f7f7f7;

html, body {
    overflow-x: hidden;
}

body {
    position: relative;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
}

.container-fluid{
    padding: 0 7vw;
}

.hero-image-container{
    // height: 90vh;
    position: relative;

    img{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .hero-text{
        position: absolute;
        top: 10%;
        right: 4%;
        width: 35%;
        h1, h2{
            text-align: end;
            color: white;
        }

        h1{
            font-size: clamp(2em, 3vw, 3vw);
        }
    }


}

.navbar-brand{
    img{
        width: 250px;
    }
    
}

.home-gallery-container{

    .grid-col{
        max-height: 100vh;
        
    }
    
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    .grid-section{
        height: 50vh;

        
        transition: all .5s;
        &:hover{
            cursor: pointer;
            opacity: .9;
        }

        &-tall{
            transition: all .5s;
            &:hover{
                opacity: .9;
                cursor: pointer;
            }
        }
    }

    .grid-text-container{
        position: relative;
        .grid-text{
            position: absolute;
            bottom: 2%;
            left: 3%;
            color: white;
            font-size: 1.5rem;
            font-weight: 500;
            text-shadow: 2px 2px 5px rgb(29, 29, 29);
        }
    }

    .grid-text-container-tall{
        position: relative;
        .grid-text{
            position: absolute;
            bottom: 1%;
            left: 3%;
            color: white;
            font-size: 1.5rem;
            font-weight: 500;
            text-shadow: 2px 2px 5px rgb(29, 29, 29);
        }
    }

}

.info-container{

    .info-wrapper{
        position: relative;

        .info-text-div{
            width: 40%;
            position: absolute;
            top: 15%;
            left: 0;
            padding: 0 .75rem;
            text-align: center;
            
            h1{
                text-align: center;
                font-weight: 500;
            }

            .btn{
                margin: 3vw;
            }
        }
    }
}

.info-text{
    font-size: 2vw;
}

.btn.btn-primary{
    background-color: white;
    color: black;
    border: 1px solid $gray;
    border-radius: 0px;
    max-width: 300px;
    margin: 3rem;

    &:hover{
        background-color: $gray-dark;
        color: white;
        border: 1px solid $gray-dark;
    }
}

.nav-drawer{
    list-style: none;
    padding: 0;
    li{
        font-size: 2rem;

        &:hover{
            color: $gray-md;
            cursor: pointer;
        }
    }
}

.hamburger-menu:hover{
    cursor: pointer;
    color: $gray-md;
}

.image-wrapper{
    padding: 12px 12px;


    img{
        width: 100%;
        height: 15vw;
        object-fit: cover;

        &:hover{
            cursor: pointer;
            opacity: .8;
        }
    }

}

.modal-content{
    border-radius: 0px;
    border: none;
}


.btn-close:active, .btn-close:focus{
    box-shadow: none;
}

.about-section{
    margin: 10vh 0;

    &-image{
        margin: auto;
    }

    &-imgBG{
        position: relative;

        &-text-container{
            position: absolute;
            width: 50%;
            text-align: center;
            top: 10%;
            left: 10%;
        }

    }
}

.about-text{
    padding: 12vh 5vw;
    text-align: center;

    p{
        font-size: 1.5rem;
    }
}

.about-hero-wrapper{
    h1{
        position: absolute;
        top: 4%;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

}

.info-card-row{
    margin: 12vh 0;

}

.contact-wrapper{
    margin: 4vh 10vw;
}

.info-card-text-container{ 
    p{
        font-size: 1.5rem;
    }
}

.info-card-image-container{
    display: flex;
    align-items: center;

}

.services-hero-wrapper{
    
    img{
        width: 100%;
    }
}


//Small Breakpoint
@media only screen and (max-width: 576px) {
    .hero-image-container{
        img{
            height: 82vh;

        }
        .hero-text{
            position: absolute;
            top:auto;
            right: auto;
            bottom: 50%;
            transform: translateY(50%);
            width: 100%;
            padding: 2rem;
            h1, h2{
                text-align: start;
                font-size: 1rem;
                margin: 0 0 0 0;
                text-shadow: 2px 2px 5px black;
                color: whiteblack;
            }

            h1{
                font-size: 1.8rem;
            }
        }
    }


    .navbar-brand{
        img{
            width: 200px;
        }
        
    }

    .footer-text{
        font-size: 11px;
    }

    .services-hero-wrapper{
        overflow: hidden;
        height: 80vh;

        img{
            height: 100%;
            text-align: middle;
            object-fit: cover;
            object-position: 10% 0px;
        }
    }

    .contact-text-container{
        h3{
            font-size: 1.2rem;
        }

        p{
            font-size: .9rem;
        }
    }

    .contact-image{
        padding: 0;
    }

}

//Medium Breakpoint
@media only screen and (max-width: 768px) {
    .hero-image-container{
        img{
            height: 82vh;

        }
        .hero-text{
            position: absolute;
            top:auto;
            right: auto;
            bottom: 50%;
            transform: translateY(50%);
            width: 100%;
            padding: 2rem;
            h1, h2{
                text-align: center;
                text-shadow: 2px 2px 5px black;
            }
        }
    }

    .info-container{
        .info-wrapper{
            overflow: hidden;
            height: 50vh;
            .info-text-div{
                padding: 20px;
                width: 70%;
                .info-text{
                    font-size: 100%;
                    text-shadow: 2px 2px 5px rgb(255, 255, 255);
                }
            }
            img{
                height: 100%;
                object-fit: cover;
            }
        }
    }


    

    .about-hero-wrapper{
        overflow: hidden;
        height: 80vh;
        img{
            object-fit: cover; 
            height: 100%;
            
        }

        h1{
            top: 5%;
            bottom: auto;
            width: 90%;
            padding: 0 1rem;
            font-size: 1.3rem;
        }
    }

    .about-section{
        margin-top: 2rem;
        margin-bottom: 0;
        padding: 0;
    }

    .about-text{
        padding: 0;
        
        h1{
            font-size: 1.2rem;
            // border-bottom: 1px solid $gray;
            font-weight: 600;
        }

        p{
            font-size: 1rem;
        }
    }

    .info-card-row{
        margin: 0;
    
    }

}

// Large Breakpoint
@media only screen and (max-width: 992px) {
    .image-wrapper{
        img{
            width: 100%;
            height: 100%;
        }
    
    }

    .about-hero-wrapper{
        position: relative;
        h1{
            top: 3%;
            position: absolute;
            bottom: auto;
            width: 90%;
            padding: 0 1rem;
            // font-size: 1.5rem;
        }
    }

}



//XXL Breakpoint
@media only screen and (max-width: 1400px) {

    .info-card-text-container{
        padding: 0 !important;
        margin-top: 6vh;

        h1{
            font-size: 1.3rem;
        }
        p{
            font-size: 1rem;
        }
    }

    .about-section{
        margin: 4rem 0 0 0;

        .about-text{
            padding: 0;
            
            h1{
                font-size: 1.5rem;
            }

            p{
                font-size: 1rem;
            }
        }

    }

    .about-hero-wrapper{
        h1{
            top: 7%;
        }
    }

}